@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}
:root{
  --color-black:#303030;
  --color-yellow:#fedb72;
  --color-dark-yellow:#fed250;
  --color-white:#fff;
  --color-gray:#666;
}
