.container{
    width: 350px;
}
.heading{
    font-size:18px;
    text-align: center;
}
.price{
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
    border-top: 2px solid #ddd;
}
.img{
    height: 150px;
    object-fit: cover;
    display: block;
    margin: 10px auto;
}
.btn{
    display: block;
    width: 100%;
    margin: 20px auto;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: 600;
    background-color: var(--color-yellow);
    padding: 10px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}